@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --font-family: 'Arial, sans-serif';
  --font-size: 16px;
  --logo-src: '';
}

.text-primary {
  color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.font-main {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.logo {
  background-image: var(--logo-src);
  background-repeat: no-repeat;
  background-size: contain;
}
