@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --font-family: 'Arial, sans-serif';
  --font-size: 16px;
  --logo-src: '';
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.font-main {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.logo {
  background-image: var(--logo-src);
  background-size: contain; /* Hace que la imagen se ajuste dentro del contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen dentro del contenedor */
  width: 100px; /* Ajusta el ancho según sea necesario */
  height: 100px; /* Ajusta la altura según sea necesario */
}
